
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar h2 {
    margin-bottom: 20px;
    border: 2px solid #9848ff;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    width: 100px;
}

.sidebar select {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar a.active {
    background: #0078d7;
    color: #fff;
}

/* Dropdown Menu under Repositories */
.sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: none;
    flex-direction: column;
    gap: 5px;
   /* margin-left: 15px;*/
    margin-top: 5px;
}

.sub-menu a {
    font-size: 20px;
    padding: 6px 20px;
   
    border-radius: 5px;
}


.sub-menu a:hover {
    background: #d0e8ff;
}


.content {
    flex: 1;
    padding: 9px;
    margin: 20px;
    height: 650px;
    border: 3px solid #fe4ec9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

p {
    border: 2px solid #68799a;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    width: 100px;
}

.header button {
    background: #0078d7;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.header .refresh_btn {
    border: 2px solid #fed344;
    background-color: #fff;
    color: black;
}

.header button:hover {
    background: #0056b3;
}

.header input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ffd756;
    width: 300px;
    margin-top: 10px;
}

hr {
    border: none;
    border-top: 3px solid #e0e0e0;
    margin: 10px -10px;

}

.hr-top {
    border: none;
    border-top: 3px solid #e0e0e0;
    margin: 10px -20px;
}

.repo-list {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
}

.repo-list .public {
    border: 2px solid #fed344;
    background-color: #fff;
    color: black;
}

.repo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*    border-bottom: 1px solid #ddd;
*/
    position: relative;
}

.repo-item:last-child {
    border-bottom: none;
}

.repo-item h4 {
    margin: 0;
}

.repo-item span {
    font-size: 12px;
    color: #64B5F6;
    border: 1px solid #64B5F6;
    border-radius: 60px;
    background-color: #ecf3f2;
    padding: 3px 10px;
}

.tooltip {
    display: flex;
    justify-content: start;
    font-size: 11px;
    gap: 15px;
}

.tooltip span {
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 9px;
}

.hr-line {
    border: none;
    height: 1px;
    background: #bdbdbd;
    margin: 10px -20px;
}

/* Style for the bottom buttons */
.bottom-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.bottom-buttons button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

.bottom-buttons button:hover {
    background-color: #0056b3;
}

/**/

.sub-menu {
display: flex;
flex-direction: column;
gap: 10px;
margin-left: 15px;
margin-top: 5px;
}

.sub-menu button {
width: 150px; /* Fixed button width */
text-align: center;
padding: 8px 10px;
background: #e8f4ff;
border: none;
border-radius: 5px;
cursor: pointer;
display: flex;
align-items: center;
gap: 8px;
}

.sub-menu button a {
text-decoration: none;
color: #333;
display: flex;
align-items: center;
gap: 8px;
font-size: 14px;
width: 100%;
}

.sub-menu button:hover {
background: #d0e8ff;
}

.sub-menu span {
display: inline-flex;
justify-content: center;
align-items: center;
width: 20px;
}
